.navbar {
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #004a97;
}

.nav-link {
  margin-right: 35px;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 5px;
}
