img {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card {
  padding-right: 0;
  padding-left: 0;
  border: none;
  color: white;
  cursor: pointer;

  &:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.btn-card-header {
  color: #004a97;
  border: 2px solid #004a97;
  background-color: transparent;

  &:hover {
    color: #ffffff;
    background-color: #004a97;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-bottom: 2px solid #58595b;
  background-color: transparent;

  &-text {
    color: #58595b;
    margin-bottom: 0;
  }
}

.proc-item {
  overflow: hidden;
}

.proc-caption {
  left: 5%;
  text-align: left;
  z-index: 99999;
}

.proc-ind li {
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 50%;
  background-color: transparent;
}

.proc-ind .active {
  background-color: #fff;
}

.proc-caption {
  display: inline-block;
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  padding: 7% 3%;
  /* gradient */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.slide-link:hover .proc-caption {
  text-decoration: underline;
}

.section {
  z-index: 9;
}
